/* FELLOW WEB ARTISTS PLEASE READ: In this stylesheet, sizes are expressed in their fraction of the viewheight (where 100vh is a 100% of the screen view height) and viewwidth (where 100vw is a 100% of the screen view width). This allows for the design to be responsive to any screen. Please test the screens of the pages that you write anyway. If it doesn't look good, you might choose to use a media query instead.*/


/* *********************************************************** TEXTBOXES *********************************************************** */

/* *************************************************** MAIN TEXTBOXES **************************************************** */

/*The margin between the textboxes needs to adjusted according to the amount of textboxes on a page. See below. All other information for this data role has been specified on the Standard Stylesheet. The font size needs to be adjusted as well. */

[data-role="textbox"] {
    margin: 3vh 0px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.rightcontainer {
    flex: 0 0 60vw;
    margin-left: 1vw;
}

.buttonheading {
    font-size: 4.5vh;
    font-weight: bold;
    margin-bottom: 0;
}

[data-role="textbox"] p {
    margin: 0 0 3vh 0;
    font-size: 3vh;
}

#yesorno {
    box-shadow: none;
    text-align: center;
    display: block;
}

#yes_kurt {
    box-shadow: none;
    text-align: center; 
}

#yes_luke {
    box-shadow: none;
    text-align: center; 
}

#yes_emma {
    box-shadow: none;
    text-align: center; 
}


/* *********************************************** ICON CONTAINERS for this page ********************************************** */

/* In HTML, the respective icons can be assigned by naming the id of the iconcontainer. The IDs are specified below with "#" --> ID sign.*/

/*Emma Patterson */
#iconcontainer_emma {
    background-image: url(Design/ProfilePics/emma.png);
    float: left;
    height: 16vh;
    flex: 0 0 16vh;
}

/*Luke Smith*/
#iconcontainer_luke {
    background-image: url(Design/ProfilePics/luke.png);
    float: left;
    height: 16vh;
    flex: 0 0 16vh;
}

/*Kurt Weller*/
#iconcontainer_kurt {
    background-image: url(Design/ProfilePics/kurt.png);
    float: left;
    height: 16vh;
    flex: 0 0 16vh;
}

#iconcontainer_sendmessage {
    background-image: url(Design/Elements/sendmessage.png);
    display: inline-block;
    height: 8vh;
    width: 8vh;
    float: center;
    margin-top: 2vh;
}

#iconcontainer_complete {
    background-image: url(Design/Elements/X_blueonwhite.png);
    display: inline-block;
    height: 8vh;
    width: 8vh;
    float: center;
    margin-left: 5vw;
    margin-top: 2vh;
}


/* *********************************************************** Added Item POP-UP ******************************************************* */

#addedcontacttext {
    background-color: #2a70a3;
}
